- @title = t('dashboard')
#content
  %h1 Hi, #{user.username}

  %p
    != link_to rubyist_url(user), rubyist_path(user)

  %h2 Your Ticket(s) Information
  %ul
    %li!= link_to_if(user.has_ticket?(2010), 'Show Ticket(s) for RubyKaigi 2010', tickets_path)

  %h2 Your Contribution to RubyKaigi 2010
  %ul
    - if user.contributions.present?
      - if user.individual_sponsor?(2010)
        %li [Individual Sponsor] (#{number_with_delimiter(user.individual_sponsor.amount)} JPY)
      - if user.staff?(2010)
        %li [Staff]
      - if user.attendee?(2010)
        %li [Attendee]
      - if user.party_attendee?(2010)
        %li [Official Conference Party Attendee]
    - else
      %li (Nothing)

  %h2 RubyKaigi Related Actions
  %ul
    %li!= link_to 'Show Your Cart', carts_path
    %li Order History (Coming Soon :-&lt;)

  %h2 Account Related Actions
  %ul
    %li!= link_to t('account_settings'), edit_account_path
    %li Switch Authenticate Strategy Between Twitter OAuth and OpenID (Coming Soon :-&lt;)
    %li!= link_to t('sign_out'), sessions_path, :method => :delete
    %li Delete Your Account(Coming Soon :-&lt;)
