- @title = 'Sign in / Sign up'

- content_for :head do
  %style(type='text/css')
    :sass
      input[name=openid_identifier]
        :padding-left 20px
        :background
          :image url('/images/openid_logo.gif')
          :repeat no-repeat
          :position 2px center

%div#content
  %h1 #{@title}
  %h2
    サインイン
  %ul
    %li
      Twitterアカウントでサインイン
      %br
      != link_to image_tag('/2010/images/signin_twitter.png', :alt => 'Sign in with Twitter account'), sessions_path(:warden_oauth_provider => 'twitter'), :class => 'noborder'
    %li
      Googleアカウントでサインイン
      %br
      != link_to image_tag('/2010/images/signin_google.png', :alt => 'Sign in with Google account'), sessions_path(:warden_oauth_provider => 'google'), :class => 'noborder'
  %ul
    %li!= link_to 'Sign in with Yahoo! ID', sessions_path(:openid_identifier => 'http://yahoo.com')
    %li!= link_to 'Sign in with Yahoo! Japan ID', sessions_path(:openid_identifier => 'http://yahoo.co.jp')
    %li!= link_to 'Sign in with mixi', sessions_path(:openid_identifier => 'http://mixi.jp')
  %h2
    上記アカウントをお持ちで無い場合はこちら

  - form_tag sessions_path, :method => :get do
    %p
      != text_field_tag :openid_identifier
      != submit_tag 'Sign in'
