<h1>Listing time_slits</h1>

<table>
  <tr>
    <th>Start at</th>
    <th>End at</th>
  </tr>

<% @time_slits.each do |time_slit| %>
  <tr>
    <td><%=h time_slit.start_at %></td>
    <td><%=h time_slit.end_at %></td>
    <td><%= link_to 'Show', time_slit %></td>
    <td><%= link_to 'Edit', edit_time_slit_path(time_slit) %></td>
    <td><%= link_to 'Destroy', time_slit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New time_slit', new_time_slit_path %>