- @title = t(:registration)
#content
  %h1= @title

  - unless authenticated?
    %p!= render :partial => 'need_login'
  - else
    %p!= link_to 'Show Your Cart', carts_path

  %h2 #{t('product_item.rk10')}

  %p.price
    <strong>#{number_with_delimiter(@kaigi.unit_price)} JPY</strong>

  %p
    #{t('student_discount_program_entry_form')}: (#{t('in_preparation')})
  %p
    #{t('student_discount_program_detail')}:
    (
    != link_to 'English', 'http://rubykaigi.tdiary.net/20100614.html#p02'
    ),(
    != link_to '日本語', 'http://rubykaigi.tdiary.net/20100614.html#p01'
    )

  != render :partial => 'add_to_cart', :locals => {:item => @kaigi}

  %h2 #{t('product_item.rk10_party')}

  %p.price
    <strong>#{number_with_delimiter(@party.unit_price)} JPY</strong>

  %p
    (We don't have <strong>any student discount</strong> for Conference Party.)

  != render :partial => 'add_to_cart', :locals => {:item => @party}

  %h2 #{t('product_item.rk10_individual_sponsor')}

  %p.price
    #{number_with_delimiter(@individual_sponsor.unit_price)} JPY + #{t('additional_amount_label')}

  %p
    #{t('individual_sponsor_detail')}:
    (
    != link_to 'English', 'http://rubykaigi.tdiary.net/20100524.html#p02'
    ),(
    != link_to '日本語', 'http://rubykaigi.tdiary.net/20100507.html#p02'
    )

  != render :partial => 'add_to_cart', :locals => {:item => @individual_sponsor}
