- @title = t(:registration)
#content
  %h1= @title

  - unless authenticated?
    %p
      To register RubyKaigi, <strong>You need to
      != link_to 'Sign in', new_sessions_path
      to register rubykaigi</strong> with Twitter OAuth or OpenID.

  %h2 #{t('product_item.rk10_individual_sponsor')}

  %p.price
    #{number_with_delimiter(@individual_sponsor.unit_price)} JPY + #{t('additional_amount_label')}

  %p
    #{t('individual_sponsor_detail')}:
    (
    != link_to 'English', 'http://rubykaigi.tdiary.net/20100524.html#p02'
    ),(
    != link_to '日本語', 'http://rubykaigi.tdiary.net/20100507.html#p02'
    )

  %p.add_to_cart{:style => 'text-align:right'}
    - addtocart_button = (current_locale == "ja" ? image_tag("/2010/images/addtocart_ja.png", :alt => "カートへ入れる") : image_tag("/2010/images/addtocart_en.png", :alt => "Add To Cart"))

    != link_to(addtocart_button, add_item_carts_path(:product_item_code => @individual_sponsor.item_code), :method => :post, :class => 'noborder')

  %h2 #{t('product_item.rk10')}

  %p (#{t('in_preparation')})

  %h2 #{t('product_item.rk10_party')}

  %p (#{t('in_preparation')})