- @title = t(:registration)
#content
  %h1= @title

  - unless authenticated?
    %p!= render :partial => 'need_login'

  %h2 #{t('product_item.rk10_individual_sponsor')}

  %p.price
    #{number_with_delimiter(@individual_sponsor.unit_price)} JPY + #{t('additional_amount_label')}

  %p
    #{t('individual_sponsor_detail')}:
    (
    != link_to 'English', 'http://rubykaigi.tdiary.net/20100524.html#p02'
    ),(
    != link_to '日本語', 'http://rubykaigi.tdiary.net/20100507.html#p02'
    )

  != render :partial => 'add_to_cart', :locals => {:item => @individual_sponsor}

  %h2 #{t('product_item.rk10')}

  %p (#{t('in_preparation')}. #{t('normal_registartion_open_notification')})

  %h2 #{t('product_item.rk10_party')}

  %p (#{t('in_preparation')}. #{t('normal_registartion_open_notification')})
