- @title = t(:registration)
#content
  %h1= @title

  - unless authenticated?
    %p!= render :partial => 'need_login'
  - else
    %p!= link_to 'Show Your Cart', carts_path

  %h2 #{t('product_item.rk10')}

  %p.price
    <strong>#{number_with_delimiter(@kaigi.unit_price)} JPY</strong>
    != stock_notification(@kaigi)
  %p
    3 day pass
  %p
    #{t('student_discount_program_detail')}:
    (
    != link_to 'English', 'http://rubykaigi.tdiary.net/20100614.html#p02'
    ),(
    != link_to '日本語', 'http://rubykaigi.tdiary.net/20100614.html#p01'
    )
  %p
    != link_to_if(@kaigi.now_on_sale?, t('student_discount_program_entry_form'), 'https://spreadsheets.google.com/viewform?formkey=dEpJSldhXzV6Skp6d0RxQVdWQS1Odnc6MQ')
    - unless @kaigi.now_on_sale?
      (In Preparation)

  != render :partial => 'add_to_cart', :locals => {:item => @kaigi}

  %h2 #{t('product_item.rk10_party')}

  %p.price
    <strong>#{number_with_delimiter(@party.unit_price)} JPY</strong>
    != stock_notification(@party)
  %p
    Starts at 2010-08-28(Sat) 19:00 JST at the same location as RubyKaigi 2010 (Tsukuba International Congress Center).
  %p
    (Student discounts <strong>are not available</strong> for the Conference Party.)

  != render :partial => 'add_to_cart', :locals => {:item => @party}

  %h2 #{t('product_item.rk10_individual_sponsor')}

  %p.price
    #{number_with_delimiter(@individual_sponsor.unit_price)} JPY + #{t('additional_amount_label')}
    != stock_notification(@individual_sponsor)
  %p
    #{t('individual_sponsor_detail')}:
    (
    != link_to 'English', 'http://rubykaigi.tdiary.net/20100524.html#p02'
    ),(
    != link_to '日本語', 'http://rubykaigi.tdiary.net/20100507.html#p02'
    )

  != render :partial => 'add_to_cart', :locals => {:item => @individual_sponsor}
