%a{ :href => "/2010/#{current_locale}/SponsorsGold#waicrew"}
  %img{ :alt => "Waicrew Inc.", :src => "/2010/sponsors/waicrew.png" }
%a{ :href => "/2010/#{current_locale}/SponsorsGold#clearcode"}
  %img{ :alt => "ClearCode Inc.", :src => "/2010/sponsors/clearcode.png" }
%a{ :href => "/2010/#{current_locale}/SponsorsGold#recruit"}
  %img{ :alt => "Media Technology Labs, Recruit Co., Ltd", :src => "/2010/sponsors/recruit.png" }
%a{ :href => "/2010/#{current_locale}/SponsorsGold#contentsone"}
  %img{ :alt => "Contents One Inc.", :src => "/2010/sponsors/contentsone.png" }
%a{ :href => "/2010/#{current_locale}/SponsorsGold#enishitech"}
  %img{ :alt => "Enishi Tech Inc.", :src => "/2010/sponsors/enishitech.png" }
%a{ :href => "/2010/#{current_locale}/SponsorsGold#kakakucom"}
  %img{ :alt => "Kakaku.com, Inc.", :src => "/2010/sponsors/kakakucom.png" }
%a{ :href => "/2010/#{current_locale}/SponsorsGold#antas"}
  %img{ :alt => "ANTAS, Inc.", :src => "/2010/sponsors/antas.png" }
%a{ :href => "/2010/#{current_locale}/SponsorsGold#temona"}
  %img{ :alt => "TEMONA Co. Ltd.", :src => "/2010/sponsors/temona.png" }
%a{ :href => "/2010/#{current_locale}/SponsorsGold#pex"}
  %img{ :alt => "PeX, inc.", :src => "/2010/sponsors/pex.png" }
%a{ :href => "/2010/#{current_locale}/SponsorsGold#towersquest"}
  %img{ :alt => "Towersquest Inc.", :src => "/2010/sponsors/towersquest.png" }
%a{ :href => "/2010/#{current_locale}/SponsorsGold#cuon"}
  %img{ :alt => "Cuon Inc.", :src => "/2010/sponsors/cuon.png" }
%a{ :href => "/2010/#{current_locale}/SponsorsGold#rabbix"}
  %img{ :alt => "Rabbix Ltd.", :src => "/2010/sponsors/rabbix.png" }
%a{ :href => "/2010/#{current_locale}/SponsorsGold#rlearning"}
  %img{ :alt => "R-learning", :src => "/2010/sponsors/rlearning.png" }
%a{ :href => "/2010/#{current_locale}/SponsorsGold#rakuten"}
  %img{ :alt => "Rakuten, Inc.", :src => "/2010/sponsors/rakuten.png" }
%a{ :href => "/2010/#{current_locale}/SponsorsGold#fujitsu"}
  %img{ :alt => "FUJITSU SOCIAL SCIENCE LABORATORY Ltd.", :src => "/2010/sponsors/fujitsu.png" }
%a{ :href => "/2010/#{current_locale}/SponsorsGold#everyleaf"}
  %img{ :alt => "Everyleaf Corporation", :src => "/2010/sponsors/everyleaf.png" }
%a{ :href => "/2010/#{current_locale}/SponsorsGold#eyoffice"}
  %img{ :alt => "EY-Office Ltd.", :src => "/2010/sponsors/eyoffice.png" }
%a{ :href => "/2010/#{current_locale}/SponsorsGold#tmix"}
  %img{ :alt => "tmix", :src => "/2010/sponsors/tmix.png" }
%a{ :href => "/2010/#{current_locale}/SponsorsGold#hokkaidoinformationuniversity"}
  %img{ :alt => "Hokkaido Information University", :src => "/2010/sponsors/hokkaidoinformationuniversity.png" }
%a{ :href => "/2010/#{current_locale}/SponsorsGold#scaleout"}
  %img{ :alt => "ScaleOut Inc.", :src => "/2010/sponsors/scaleout.png" }
%a{ :href => "/2010/#{current_locale}/SponsorsGold#econe"}
  %img{ :alt => "EC-One, Inc.", :src => "/2010/sponsors/econe.png" }
