%h2
  %a{:name => 'individuals'}
    = t('individual_sponsor')

%div#sponsors_individual.whitebox.clearfix
  %ul
    %li!= link_to 'Masayoshi Takahashi', '#'
    %li!= link_to 'Masayoshi Takahashi', '#'
    %li!= link_to 'Masayoshi Takahashi', '#'
    %li!= link_to 'Masayoshi Takahashi', '#'
    %li!= link_to 'Masayoshi Takahashi', '#'
    %li!= link_to 'Masayoshi Takahashi', '#'
    %li!= link_to 'Masayoshi Takahashi', '#'
    %li!= link_to 'Masayoshi Takahashi', '#'
    %li!= link_to 'Masayoshi Takahashi', '#'
    %li!= link_to 'Masayoshi Takahashi', '#'
