<h1>Listing events</h1>

<table>
  <tr>
    <th>Title en</th>
    <th>Title ja</th>
    <th>Abstract en</th>
    <th>Abstract ja</th>
    <th>Detail en</th>
    <th>Detail ja</th>
    <th>Additional info</th>
    <th>Lang</th>
    <th>Required equipment</th>
    <th>Parent event</th>
    <th>Break</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%=h event.title_en %></td>
    <td><%=h event.title_ja %></td>
    <td><%=h event.abstract_en %></td>
    <td><%=h event.abstract_ja %></td>
    <td><%=h event.detail_en %></td>
    <td><%=h event.detail_ja %></td>
    <td><%=h event.additional_info %></td>
    <td><%=h event.lang %></td>
    <td><%=h event.required_equipment %></td>
    <td><%=h event.parent_event_id %></td>
    <td><%=h event.break %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>