<p>
  <b>Speaker(s):</b>
  <%- @event.speakers.each do |speaker| -%>
    <%= link_to speaker.full_name, speaker %><br>
  <% end -%>
</p>

<p>
  <b>Title</b>
  <%=h @event.title %>
</p>

<p>
  <b>When:</b>
  <%= l @event.date %> <%= l @event.from, :format => :hhmm %> - <%= l @event.to, :format => :hhmm %>
</p>

<p>
  <b>Room:</b>
  <%= @event.room.name %>
</p>

<p>
  <b>Abstract</b>
  <%=h @event.abstract %>
</p>

<p>
  <b>Detail</b>
  <%=h @event.detail %>
</p>

<p>
  <b>Additional info:</b>
  <%=h @event.additional_info %>
</p>

<p>
  <b>Lang:</b>
  <%=h @event.lang %>
</p>

<p>
  <b>Required equipment:</b>
  <%=h @event.required_equipment %>
</p>

<p>
  <b>Parent event:</b>
  <%=h @event.parent_event_id %>
</p>

<p>
  <b>Break:</b>
  <%=h @event.break %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
