<div id='content'>
  <h1><%=h @event.title %></h1>

  <h2><%= t(:speaker) %></h2>

  <p>
  <%= @event.presenter_name %>
  </p>

  <h2><%= t(:abstract) %></h2>

  <div class="event-abstract">
    <%= auto_link(simple_format(h(@event.abstract))) {|text| truncate(text, 32)} %>
  </div>

  <ol>
  <% @event.children.each do |child_event| %>
    <li><%= link_to "#{h(child_event.title)}, #{h(child_event.presenter_name)}", event_path(2010, current_locale, child_event) %></li>
  <% end %>
  </ol>
  </p>

  <h2><%= t(:when) %></h2>

  <p>
  <%= l @event.date %> <%= l @event.from, :format => :hhmm %> - <%= l @event.to, :format => :hhmm %>
  </p>

  <h2><%= t(:room) %></h2>

  <p>
  <%= @event.room.name %>
  </p>

  <h2><%= t(:speaker_profile) %></h2>

  <div class="presenter-profile">
    <%= auto_link(simple_format(h(@event.presenter_profile))) {|text| truncate(text, 32)} %>
  </div>

  <h2><%= t(:lang) %></h2>

  <p>
  <%=h @event.lang %>
  </p>

  <p class="right">
  <% if @event.parent_event %>
    <%= link_to('Parent', event_path(2010, current_locale, @event.parent_event), :class => 'mark') %>
  <% end %>
  <%= link_to 'Timetable', timetable_path(:year => 2010, :locale => current_locale), :class => 'mark' %>
  </p>
</div>
