<div id='content'>
  <h1><%=h @event.title %></h1>

  <h2><%= t(:speaker) %></h2>

  <p>
  <%= @event.presenter_name %>
  </p>

  <h2><%= t(:abstract) %></h2>

  <p>
  <%= simple_format(h(@event.abstract)) %>

  <ol>
  <% @event.children.each do |child_event| %>
    <li><%=h child_event.title %>, <%=h child_event.presenter_name %></li>
  <% end %>
</ul>
  </p>

  <h2><%= t(:when) %></h2>

  <p>
  <%= l @event.date %> <%= l @event.from, :format => :hhmm %> - <%= l @event.to, :format => :hhmm %>
  </p>

  <h2><%= t(:room) %></h2>

  <p>
  <%= @event.room.name %>
  </p>

  <h2><%= t(:lang) %></h2>

  <p>
  <%=h @event.lang %>
  </p>

  <p class="right">
  <%= link_to 'Back', events_path(2010, current_locale), :class => 'mark' %>
  </p>
</div>
