%div#content
  %h1
    = t(:time_table)
  #timetables
    - @events.group_by(&:date).each do |date, events_per_date|
      %a{:name => "timetable-#{date.strftime '%m%d'}"}
        %h2
          = l date, :format => :long
        %table.timetable
          %thead
            %tr
              %th.time
                &nbsp;
              - @rooms.each do |room|
                %th.room
                  = room.name
          %tbody
            - from, to = events_per_date.map(&:from).min, events_per_date.map(&:to).max
            - while from.time < to.time
              - events_per_from = events_per_date.select {|e| e.time.from == from}
              != render 'time', :from => from, :events_per_from => events_per_from
              - from += 30.minutes
