-content_for :head do
  :plain
    <style type="text/css">
      body {
          margin: 0;
          background-color: #fff;
      }
      a, a:link, a:visited, a:hover {
        color: #333;
        text-decoration: none;
        border:none;
      }
      #footer a, #footer a:link, #footer a:visited, #footer a:hover {
        color: #999;
        text-decoration: none;
        border:none;
      }
      dt {
        float: left;
      }
      dd {
        margin-left: 7em;
      }
    </style>
    <!--[if lt IE 9]>
    <script src="reset.js"></script>
    <![endif]-->
    </style>

%h1{:style => 'border-top: 7px solid #000; width: 100%; margin: 0px;'}
  <img src="/2011/images/top_head.gif" alt="The End Of Rubykaigi - 2011/07/16-18 at ToKyo, Japan">
%p{:style => 'margin: 10px;'}
  our brand new website design is coming soon :)

%div{:style => 'margin: 10px; padding: 10px; border: 1px solid #000'}
  %h2 #{t('rubykaigi2011')}
  %dl
    %dt
      Date:
    %dd
      <strong>July 16(Sat) - 18(Mon), 2011</strong>
  %dl
    %dt
      Venue:
    %dd
      <strong>Nerima Culture Center (Tokyo, Japan)</strong><br />
      ≫ <a href="http://bit.ly/fBgMrP">MAP</a>, <a href="http://www.neribun.or.jp/">website(Japanese)</a>
  %dl
    %dt
      Registration:
    %dd
      (TBA)
  %dl
    %dt
      Keynotes:
    %dd
      <strong>Yukihiro &quot;Matz&quot; Matsumoto</strong><br/>
      <strong>Dave Thomas</strong><br />
      <strong>Aaron Patterson (a.k.a. tenderlove)</strong>
  %dl
    %dt
      ≫ <a href="/2011/prospectus"><strong>#{t('rubykaigi2011')} #{t('prospectus')}</strong></a>
    %dd
      &nbsp;

%div{:style => 'margin: 10px; padding: 10px; border: 1px solid #000'}
  %h2 RubyKaigi 2011 Official Conference Party
  %dl
    %dt
      Date:
    %dd
      <strong>July 17(Sun), 2011</strong>
    %dt
      Open At:
    %dd
      19:30
    %dt
      Velue:
    %dd
      Somewhere in Ikebukuro (TBA)
  %dl
    %dt
      more details:
    %dd
      (TBA)

%div{:style => 'margin: 10px; padding: 10px; border: 1px solid #000;'}
  <strong style="padding: 8px 10px;color:#f00;background-color:#000">RubyKaigi 2011: Call For Presentation Proposals!</strong>
  %p
    We're open for talk proposals</a> until <strong>Mar 20th</strong>.<br/>
    <a href="/2011/#{current_locale}/call_for_presentations">http://rubykaigi.org/2011/#{current_locale}/call_for_presentations

%div{:style => 'margin: 10px; padding: 10px; border: 1px solid #000;'}
  <strong style="padding: 8px 10px;color:#f00;background-color:#000">RubyKaigi 2011 is Looking for Sponsors!</strong>
  %p
    For details, Please refer to » <a href="/2011/rk11prospectus.pdf">sponsor prospects PDF</a> and<br /> contact us via E-mail, 2011 AT rubykaigi DOT org.<br />
    If you have an interest in the sponsorship but you can not read Japanese,<br />feel free to contact us via E-mail. You're always welcome.

%div{:style => 'margin: 10px; padding: 10px; border: 1px solid #000;'}
  %p
    Follow us on twitter: <a href="http://twitter.com/rubykaigi">@rubykaigi</a> (a hashtag is <strong><a href="http://twitter.com/search/?q=%23rubykaigi">#rubykaigi</a></strong>).<br />
    (<strong>rubykaigi2011</strong> is the tag for bookmark, flickr and others).

#footer{:style => 'padding: 10px; background: #000; color: #fff;'}
  %p
    Feel free to contact us via e-mail to: 2011 at rubykaigi dot org.
  %p
    Previously on RubyKaigi:　» <a href="/2010/#{params[:locale]}">2010</a>, » <a href="/2009/#{params[:locale]}">2009</a>, » <a href="/2008">2008</a>, » <a href="/2007">2007</a>, » <a href="/2006">2006</a>
