- @title = t("order.confirm")
#content
  %h1 #{@title}

  - @order.line_items.each do |item|
    %h2 #{t(item.product_item.label)}
    %ul
      %li Quantity: #{number_with_delimiter(item.quantity)}
      %li Amount: #{number_with_delimiter(item.subtotal_price)}
      - if item.individual_sponsor?
        %li Individual Sponsor Link Label: <strong>#{item.link_label.present? ? item.link_label : "(default: name on your account)" }</strong>
        %li Individual Sponsor Link URL: <strong>#{item.link_url.present? ? item.link_url : "(default: website on your account)" }</strong>
        - if ProductItem.kaigi(2010).rk10_party.now_on_sale?
          %li I <strong>#{ item.attend_party? ? "will " : "will not" }</strong> attend official conference party on 28th Aug.
        - else
          %li (#{t('individual_sponsor_party_attend_bonus_is_over')})

  - if @order.individual_sponsor_included?
    != link_to 'Edit Individual Sponsor Options', individual_sponsor_option_orders_path
    <br /><br /><br /><br />
  - form_tag(url_of_paypal_checkout) do
    != hidden_field_tag :cmd, @paypal_form.cmd
    != hidden_field_tag :encrypted, @paypal_form.encrypted
    != checkout_paypal_button
