%h2 Order#confirm

%h3 #{@order.rubyist.username}'s order:

%ul
  - @order.line_items.each do |item|
    %li #{t(item.product_item.label)}, #{number_with_delimiter(item.quantity)}, #{number_with_delimiter(item.price)}

- form_tag(url_of_paypal_checkout) do
  != hidden_field_tag :cmd, @paypal_form.cmd
  != hidden_field_tag :encrypted, @paypal_form.encrypted
  != submit_tag 'Place your order via PayPal'