- @title = 'My Ticket'
#content
  %h1 #{@title}

  %ul
    - @tickets.each do |ticket|
      - ticket_label = "RubyKaigi #{ticket.ruby_kaigi.year}, #{I18n.t(ticket.ticket_type)}(#{ticket.name})"
      %li!= link_to(ticket_label, ticket_path(ticket))
