%h1 Carts#index

- unless @cart.empty?
  %ul
  - @cart.items.each do |item|
    %li
      #{t(item.label)}, #{item.quantity}, #{number_with_delimiter(item.price)}
      != link_to('delete this', remove_item_carts_path(:product_item_code => item.item_code), :method => :delete)
- else
  (your cart is empty!)

- unless @cart.empty?
  != link_to('Proceed to checkout', orders_path, :method => :post)
%hr

!= link_to 'registrations', registrations_path
