<h1>Editing room</h1>

<% form_for(@room) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name_en %><br />
    <%= f.text_field :name_en %>
  </p>
  <p>
    <%= f.label :name_ja %><br />
    <%= f.text_field :name_ja %>
  </p>
  <p>
    <%= f.label :floor_en %><br />
    <%= f.text_field :floor_en %>
  </p>
  <p>
    <%= f.label :floor_ja %><br />
    <%= f.text_field :floor_ja %>
  </p>
  <p>
    <%= f.label :sort_order %><br />
    <%= f.text_field :sort_order %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @room %> |
<%= link_to 'Back', rooms_path %>