<p>
  <b>Name en:</b>
  <%=h @room.name_en %>
</p>

<p>
  <b>Name ja:</b>
  <%=h @room.name_ja %>
</p>

<p>
  <b>Floor en:</b>
  <%=h @room.floor_en %>
</p>

<p>
  <b>Floor ja:</b>
  <%=h @room.floor_ja %>
</p>

<p>
  <b>Sort order:</b>
  <%=h @room.sort_order %>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>