- form_for @rubyist, :url => {:action => 'register'} do |form|
	!= form.error_messages

	%dl
		%dt!= form.label :name
		%dd!= form.text_field :name

		%dt!= form.label :email
		%dd!= form.text_field :email

	!= form.submit 'Sign up'
