%div#content
  %h1
    お知らせ
  %ul
    %li <strong>日本Ruby会議2010への<a href="/2010/ja/Registration">参加登録を開始</a>しています。例年、早々に完売してしまいます。参加を検討されている方は、お早めにお買い求めください。(2010-06-15 21:40 JST)</strong>
    %li 準備の都合によりチケットの発売開始を 2010-06-15 20:30(JST) に延期します。個人スポンサーの募集も同時に再開予定です。ご迷惑をおかけしますがよろしくお願いします。
    %li 日本Ruby会議2010に海外から参加するRubyistのための<a href="http://rubykaigi.tdiary.net/20100615.html#p01">メーリングリストを用意しました</a>。海外からRuby会議2010に参加する方はもとより、海外から参加するRubyistに興味のある日本の方も是非ご参加下さい。公開qwikですので<a href="http://qwik.atdot.net/rubykaigi2010overseas/">Webサイトの説明</a>にしたがって参加してください。
    %li 日本Ruby会議2010では学生割引の制度を今年も用意しました。<a href="http://rubykaigi.tdiary.net/20100614.html#p02">説明に目を通された</a>うえで<a href="https://spreadsheets.google.com/viewform?formkey=dEpJSldhXzV6Skp6d0RxQVdWQS1Odnc6MQ">専用フォームから申請してください</a>。
  != render :partial => 'shared/headline'
  %p
    その他、日本Ruby会議2010の最新情報は、
    %a{ :href => "http://rubykaigi.tdiary.net/?category=rubykaigi2010;year=2010" }<
      RubyKaigi日記
    \&nbsp;(
    %a{ :href => "http://rubykaigi.tdiary.net/?category=rubykaigi2010" }<
      RubyKaigi2010関連のみ表示
    )もあわせて参照ください。
  != render :partial => 'shared/add_feed'

  %h2
    開催概要
  %ul
    %li
      名称: 日本Ruby会議2010 (RubyKaigi2010) 
    %li
      会期: 2010 年 8 月 27 日(金)・28 日(土)・29 日(日)
    %li
      会場:
      %a{ :href => "http://www.epochal.or.jp/" }
        つくば国際会議場
      (茨城県つくば市) 
    %li
      料金: 6,000 JPY
    %li
      会期中はKaigiFreaksによるUstream.tv経由でのストリーミング配信を予定しています。配信品質はベストエフォートです。
    %li
      公式タグ:
      %a{ :href => "http://b.hatena.ne.jp/t/rubykaigi2010" }
        rubykaigi2010
    %li
      公式ハッシュタグ:
      %a{ :href => "http://twitter.com/#search?q=%23rubykaigi" }
        \#rubykaigi
    %li
      主催: 日本Ruby会議2010実行委員会, Rubyアソシエーション, 日本Rubyの会
  %h3 日本Ruby会議2010 公式懇親会
  %ul
    %li 日付: 2010 年 8 月 28 日(土)
    %li 開始時刻: 19:00 (JST)
    %li 会場: つくば国際会議場
    %li 料金: 5,000 JPY

  %h2
    基調講演
  %ul
    %li
      まつもとゆきひろ
    %li
      Chad Fowler
    %li
      Jeremy Kemper
  %h2
    プレゼンテーション発表
  %p!= link_to 'プレゼンテーション発表と企画の一覧(タイトルは最新のものではありません)', "/2010/#{current_locale}/events"
  %p!= render :partial => 'pages/2010/speakers_list'

  %h2
    企画
  %p!= link_to 'プレゼンテーション発表と企画の一覧(タイトルは最新のものではありません)', "/2010/#{current_locale}/events"
  %p!= render :partial => 'pages/2010/subevent_organizers_list'

  %h2
    日本Ruby会議2010でおこなう発表と企画の募集は終了しました
  %p
    今年もたくさんのご応募ありがとうございました。一般参加登録の開始後に<a href="http://ja.wikipedia.org/wiki/ライトニングトーク">ライトニングトーク</a>の募集を開始する予定です。詳細は追って告知いたします。

  %h2 日本Ruby会議2010のメインイメージイラストの募集は終了しました
  %p
    メインイメージイラストの募集は締め切りました。たくさんのご応募ありがとうございました。

  %h2
    日本Ruby会議2010の企業スポンサー募集は終了しました
  %p
    おかげさまで<a href="/2010/ja/Sponsors">たくさんの方々からご支援</a>いただけることになりました。ありがとうございました。
