%div#content
  %h1
    INFORMATION
  %ul
    %li <strong>Tickets to RubyKaigi 2010 are <a href="/2010/en/Registration">now on sale</a>. Act quickly -- Every year, RubyKaigi tickets sell out fast! If you are thinking of attending, please buy your tickets soon (2010-06-15 21:40 JST).</strong>
    %li RubyKaigi 2010 has <a href="http://rubykaigi.tdiary.net/20100615.html#p02">mailing list for attendees from outside of Japan</a> or anyone who are interested in helping and communicating with these oversea Rubyists. <a href="http://qwik.atdot.net/rubykaigi2010overseas/">Please join the list!</a>
    %li RubyKaigi 2010 has student discount program. <a href="http://rubykaigi.tdiary.net/20100614.html#p02">the program detail</a> <strike>and submission form</strike>(Already at capacity).
  != render :partial => 'shared/headline'
  != render :partial => 'shared/add_feed'

  %h2
    RubyKaigi2010
  %ul
    %li
      Dates: August 27-29 2010
    %li
      Venue:
      %a{ :href => "http://www.epochal.or.jp/eng/index.html" }
        Tsukuba International Congress Center "EPOCHAL TSUKUBA"
      (Tsukuba, Ibaraki, Japan)
    %li
      Fee: 6,000 JPY
    %li
      Streaming: Sessions are scheduled to streaming via Ustream.tv. The streaming will be distributed by "KaigiFreaks". The delivery quality is best effort.
    %li
      official tag:
      %a{ :href => "http://b.hatena.ne.jp/t/rubykaigi2010" }
        rubykaigi2010
    %li
      official hash tag:
      %a{ :href => "http://twitter.com/#search?q=%23rubykaigi" }
        \#rubykaigi
    %li
      Organizers: The RubyKaigi 2010 Team, Ruby Association, Nihon Ruby-no-Kai
  %h3 RubyKaigi 2010 Official Conference Party
  %ul
    %li Date: August 28 2010
    %li Start At: 19:00 (JST)
    %li Venue: the same location as RubyKaigi 2010 (Tsukuba International Congress Center)
    %li Fee: 5,000 JPY

  %h2
    Keynote Speakers
  %ul
    %li
      Yukihiro &quot;Matz&quot; Matsumoto
    %li
      Chad Fowler
    %li
      Jeremy Kemper
  %h2
    Speakers, Sub-Event Organizers
  %ul
    %li!= link_to t(:time_table), "/2010/#{current_locale}/timetable"
    %li!= link_to t(:program_list), "/2010/#{current_locale}/events"

  %h2
    Call For Lightning Talk Proposals Has Been Closed
  %p
    %strike
      Deadline: 2010-07-19(Mon) 23:59:59(JST)
  %p
    Thanks you all for so many submissions.

  %h2
    Call For Presentation and Sub-Event Has Been Closed
  %p
    Thanks you all for so many submissions.
  %p
    We've got 71 talk proposals (41 accepted) and 28 sub-event proposals (25 accepted).

  %h2 Call For RubyKaigi 2010 Illustation Has Been Closed
  %p
    Thank you all for so many illustrations.
  %p
    We've got 30 lightning talk proposals (11 accepted).

  %h2
    RubyKaigi 2010 is looking for Sponsors
  %p
    RubyKaigi 2010 is seeking organizations to sponsor the conference. For further details, visit
    %a{ :href => "/2010/en/CallForSponsors.html" }
      the this link
