%div#content
  %h1
    お知らせ
  %ul
    %li 今後の参考にしたいため<a href="http://q.okkez.net/subjects/29">アンケート</a>にご協力ください。
    %li <a href="/2010/ja/Information">参加者向け情報</a>と<a href="/2010/files/RubyKaigi2010-FloorGuide.pdf">フロアガイド(PDF)</a>を公開しています。
    %li
      参加者の皆様へ: 入場に関する以下の情報を今一度ご確認ください
      %ul
        %li
          %a{:href => 'http://rubykaigi.tdiary.net/20100811.html#p01'} 一般参加チケット・個人スポンサーチケットをお持ちの方の日本Ruby会議2010本編受付方法について
        %li
          %a{:href => 'http://rubykaigi.tdiary.net/20100814.html#p01'} 懇親会チケットを購入された方の日本Ruby会議2010公式懇親会受付方法について
    %li <a href="/2010/ja/CallForIllustrations">イメージイラスト公募結果</a>と<a href="/2010/ja/Goodies">おまけ</a>ページを公開しています。
    %li 日本Ruby会議2010に海外から参加するRubyistのための<a href="http://rubykaigi.tdiary.net/20100615.html#p01">メーリングリストを用意しました</a>。海外からRuby会議2010に参加する方はもとより、海外から参加するRubyistに興味のある日本の方も是非ご参加下さい。公開qwikですので<a href="http://qwik.atdot.net/rubykaigi2010overseas/">Webサイトの説明</a>にしたがって参加してください。
    %li 日本Ruby会議2010への<strong><a href="/2010/ja/Registration">参加登録は予定販売枚数を終了</a></strong>しました。皆さまと会場でお会いできることを楽しみにしています(2010-08-14 15:00 JST)。
  != render :partial => 'shared/headline'
  %p
    その他、日本Ruby会議2010の最新情報は、
    %a{ :href => "http://rubykaigi.tdiary.net/?category=rubykaigi2010;year=2010" }<
      RubyKaigi日記
    \&nbsp;(
    %a{ :href => "http://rubykaigi.tdiary.net/?category=rubykaigi2010" }<
      RubyKaigi2010関連のみ表示
    )もあわせて参照ください。
  != render :partial => 'shared/add_feed'

  %h2
    開催概要
  %ul
    %li
      名称: 日本Ruby会議2010 (RubyKaigi2010) 
    %li
      会期: 2010 年 8 月 27 日(金)・28 日(土)・29 日(日)
    %li
      会場:
      %a{ :href => "http://www.epochal.or.jp/" }
        つくば国際会議場
      (茨城県つくば市) 
    %li
      料金: 6,000 JPY
    %li
      会期中はKaigiFreaksによるUstream.tv経由でのストリーミング配信を予定しています。配信品質はベストエフォートです。
    %li
      公式タグ:
      %a{ :href => "http://b.hatena.ne.jp/t/rubykaigi2010" }
        rubykaigi2010
    %li
      公式ハッシュタグ:
      %a{ :href => "http://twitter.com/#search?q=%23rubykaigi" }
        \#rubykaigi
    %li
      主催: 日本Ruby会議2010実行委員会, Rubyアソシエーション, 日本Rubyの会
  %h3 日本Ruby会議2010 公式懇親会
  %ul
    %li 日付: 2010 年 8 月 28 日(土)
    %li 開始時刻: 19:00 (JST)
    %li 会場: つくば国際会議場
    %li 料金: 5,000 JPY

  %h2
    基調講演
  %ul
    %li
      まつもとゆきひろ
    %li
      Chad Fowler
    %li
      Jeremy Kemper (ご本人の都合によりキャンセルとなりました)
  %h2
    プレゼンテーション発表と企画
  %p!= link_to 'タイムテーブル', "/2010/#{current_locale}/timetable"
  %p!= link_to 'プレゼンテーション発表と企画の一覧(タイトルは最新のものではありません)', "/2010/#{current_locale}/events"

  %h2 Ruby会議2010のライトニングトークスの募集は終了しました
  %p
    %strike
      応募〆切: 2010-07-19(Mon) 23:59:59(JST)
  %p
    今年もたくさんのご応募ありがとうございました。
  %p
    今年は 30 件の応募に対して 11 件を採択しました。

  %h2 日本Ruby会議2010でおこなう発表と企画の募集は終了しました
  %p
    今年もたくさんのご応募ありがとうございました。
  %p
    今年は 71 件の発表応募に対して 41 件を、28 件の企画応募に対して 25件を採択しました。

  %h2 日本Ruby会議2010のメインイメージイラストの募集は終了しました
  %p
    <a href="/2010/ja/CallForIllustrations">イメージイラスト公募結果</a>を掲載しています。

  %h2
    日本Ruby会議2010の企業スポンサー募集は終了しました
  %p
    おかげさまで<a href="/2010/ja/Sponsors">たくさんの方々からご支援</a>いただけることになりました。ありがとうございました。
