!!!

%html
  %head
    %meta(charset='utf-8')
    %title= [@title, t(:rubykaigi2010)].compact.join(' - ')
    %link(rel='icon' href='/favicon.ico')
    != yield :head

  %body
    - if n = flash[:notice]
      %p.notice= n

    - if e = flash[:error]
      %p.error= e

    != yield
