!!! XML
!!! Strict
%html{ :xmlns=>"http://www.w3.org/1999/xhtml", "xml:lang" => "#{current_locale}", :lang => "#{current_locale}" }
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %title= [@title, t(:rubykaigi2010)].compact.join(' - ')
    %link{ :href => "/2010/stylesheets/common.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/2010/stylesheets/superfish.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/2010/stylesheets/form_flash.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :rel => "alternate", :type => "application/rss+xml", :title => "RubyKaigi2010(#{t(current_locale)})", :href => rubykaigi_org_feed_url(current_locale) }
    %script{ :src => "/2010/javascripts/jquery-1.2.6.min.js", :type => "text/javascript" }
    %script{ :src => "/2010/javascripts/hoverIntent.js", :type => "text/javascript" }
    %script{ :src => "/2010/javascripts/superfish.js", :type => "text/javascript" }
    :javascript
      jQuery(function(){
        jQuery('ul.sf-menu').superfish();
      });
    != yield :head

  %body
    %div#header
      %a{ :href => "/2010/#{current_locale}/"}
        %img.f_left{ :alt => "RubyKaigi2010", :src => "/2010/images/top_logo.jpg" }
      - if authenticated?
        %div#account
          %div
            %p Welcome, #{user.username} 
            %ul
              %li!= link_to 'Dashboard', dashboard_path
              %li!= link_to 'Account Settings', edit_account_path
              %li!= link_to 'Sign Out', sessions_path, :method => :delete
          %img.icon{ :alt => "Avator", :title => "Avator Icon Setting Feature is coming soon :<", :src => '/images/bow_face.png', :height => 30 }
      - else
        != link_to(image_tag("/2010/images/signin_btn.png", :alt => 'Sign In', :class => 'f_right'), new_sessions_path)
    %div#menu
      %ul.sf-menu
        %li.current
          %a{ :href => "/2010/#{current_locale}" }
            #{t(:rubykaigi2010)}
          %ul
            %li
              %a{ :href => "/2010/#{params[:locale]}/Prospectus" }
                #{t(:prospectus)}
            - if registration_opened?
              %li
                %a{ :href => "/2010/#{current_locale}/Registration" }
                  #{t(:tickets)}
            %li.current
              %a{ :href => "/2010/#{current_locale}/Sponsors" }
                #{t(:sponsors)}
              %ul
                %li
                  %a{ :href => "/2010/#{current_locale}/Sponsors#ruby" }
                    \#{t(:ruby_sponsor)}
                %li
                  %a{ :href => "/2010/#{current_locale}/Sponsors#platinum" }
                    \#{t(:platinum_sponsor)}
                %li
                  %a{ :href => "/2010/#{current_locale}/Sponsors#gold" }
                    \#{t(:gold_sponsor)}
                %li
                  %a{ :href => "/2010/#{current_locale}/Sponsors#individuals" }
                    \#{t(:individual_sponsor)}
            /
              %li
                %a{ :href => "/2010/#{current_locale}/Team" }
                  #{t(:team)}
              %li
                %a{ :href => "#" }
                  #{t(:goodies)}
              %li
                %a{ :href => "#" }
                  #{t(:press)}
            %li.current
              %a
                #{t(:rubykaigi_archives)}
              %ul
                %li
                  %a{ :href => "http://rubykaigi.org/2009/#{current_locale}" }
                    \#{t(:rubykaigi)} 2009
                %li
                  %a{ :href => "http://jp.rubyist.net/RubyKaigi2008/" }
                    \#{t(:rubykaigi)} 2008
                %li
                  %a{ :href => "http://jp.rubyist.net/RubyKaigi2007/" }
                    \#{t(:rubykaigi)} 2007
                %li
                  %a{ :href => "http://jp.rubyist.net/RubyKaigi2006/" }
                    \#{t(:rubykaigi)} 2006

        %li.current
          %a{ :href => "#" }
            #{t(:time_table)}(#{t(:coming_soon)})
          /
            %ul
              %li
                %a{ :href => "#" }
                  X月X日
              %li
                %a{ :href => "#" }
                  X月X日
              %li
                %a{ :href => "#" }
                  X月X日
        %li.current
          %a{ :href => "#" }
            #{t(:live)}(#{t(:coming_soon)})
          /
            %ul
              %li
                %a{ :href => "#" }
                  ○○会議室
              %li
                %a{ :href => "#" }
                  ○○会議室
              %li
                %a{ :href => "#" }
                  ○○会議室
        %li.current
          %a{ :href => "#" }
            #{t(:information)}(#{t(:coming_soon)})
          /
            %ul
              %li
                %a{ :href => "#" }
                  #{t(:network)}
              %li
                %a{ :href => "#" }
                  #{t(:power_outlets)}
              %li
                %a{ :href => "#" }
                  IRC
              %li
                %a{ :href => "#" }
                  FAQ
              %li
                %a{ :href => "#" }
                  #{t(:junkudo)}
                  %br
                  RubyKaigi #{t(:store)}
        %li.current
          %a{ :href => "http://rubykaigi.tdiary.net/" }
            #{t(:rubykaigi_nikki)}

    %div#langnav
      %p
        %a.noborder{ :href => "/" }
          %img{ :alt => "HOME", :src => "/2010/images/home_btn.png" }
        != link_to 'English', :locale => 'en'
        |
        != link_to '日本語', :locale => 'ja'
    %div#container.whitebox_alpha.main
      %div#sidebar
        %h2
          %img{ :alt => "REGISTRATION", :src => "/2010/images/registration_head.png" }
          %p#registration_btn
            - if registration_opened?
              - button = (current_locale == "ja" ? image_tag("/2010/images/registration_btn.png", :alt => "参加登録はこちら") : image_tag("/2010/images/registration_btn_en.png", :alt => "REGISTER NOW"))
              != link_to(button, "/2010/#{current_locale}/Registration")
            - else
              (#{t(:in_preparation)})
        %h2
          %img{ :alt => "TAGS", :src => "/2010/images/tags_head.png" }
        %div#tags
          %h3
            %img{ :alt => "for twitter", :src => "/2010/images/tags_for_twitter.png" }
          %p
            %a{ :href => "http://twitter.com/#search?q=%23rubykaigi" }
              \#rubykaigi
          %h3
            %img{ :alt => "for blog", :src => "/2010/images/tags_for_blog.png"}
          %p
            %a{ :href => "http://b.hatena.ne.jp/t/rubykaigi2010" }
              \rubykaigi2010
        /
          %h2
            %img{ :alt => "SOCIAL LINKS", :src => "/2010/images/sociallinks_head.png" }
          %div#sociallinks
            %p
              %a{ :href => "#"}
                %img{ :alt => "twitter", :src => "/2010/images/sociallinks_twitter.png" }
              %a{ :href => "#"}
                %img{ :alt => "ustream", :src => "/2010/images/sociallinks_ustream.png" }
              %a{ :href => "#"}
                %img{ :alt => "flickr", :src => "/2010/images/sociallinks_flickr.png" }
              %a{ :href => "#"}
                %img{ :alt => "?", :src => "/2010/images/sociallinks_blank.png" }
        %h2
          %img{ :alt => "SPONSORS", :src => "/2010/images/sponsors_head.png" }
        %div#sponsors.whitebox.center
          %h3
            %a{ :href => "/2010/#{current_locale}/Sponsors#ruby"}
              %img{ :alt => "Ruby", :src => "/2010/images/sponsors_ruby.png" }
            != render :partial => 'shared/ruby_sponsors'
          %h3
            %a{ :href => "/2010/#{current_locale}/Sponsors#platinum"}
              %img{ :alt => "Platinum", :src => "/2010/images/sponsors_platinum.png" }
            != render :partial => 'shared/platinum_sponsors'
          %h3
            %a{ :href => "/2010/#{current_locale}/Sponsors#gold"}
              %img{ :alt => "Gold", :src => "/2010/images/sponsors_gold.png" }
            != render :partial => 'shared/gold_sponsors'
          %h3
            %a{ :href => "/2010/#{current_locale}/Sponsors#individuals"}
              %img{ :alt => "Individuals", :src => "/2010/images/sponsors_individuals.png" }
          %p.individual_badge
            %a{ :href => "/2010/#{current_locale}/Sponsors#individuals"}
              = t('link_to_individual_sponsors')

      != render_flashes
      != yield

      %div#footer
        %p
          Feel free to contact us via e-mail to: 2010 at rubykaigi dot org.
