-if @rubyist.errors.any?
  #errorExplanation.errorExplanation
    %h2= "#{pluralize(@rubyist.errors.count, "error")} prohibited this account from being saved:"
    %p= t(:body, :scope => 'activerecord.errors.template')#:scope => [:activerecord, :errors, :template])
    %ul
      - @rubyist.errors.full_messages.each do |msg|
        %li= msg

%dl
  %dt!= form.label :username
  %dd!= form.text_field :username
  username will use for permalink like: #{'http://rubykaigi.org/rubyists/#{username}'}<br />
  <br />
  %dt!= form.label :full_name
  %dd!= form.text_field :full_name
  <br />
  %dt!= form.label :email
  %dd!= form.text_field :email
  <br />
  %dt!= form.label :website
  %dd!= form.text_field :website
  <br />
