- @title = t(:account_settings)

#content
  %h1= @title

  - form_for @rubyist, :url => account_path do |form|
    != render :partial => form

    %dl
      %dt Avatar
      %dd
        %ul
          - if @rubyist.twitter_account
            %li
              != image_tag @rubyist.avatar_url(:twitter)
              %label
                != form.radio_button :avatar_type, :twitter
                Twitter
          %li
            != image_tag @rubyist.avatar_url(:gravatar)
            %label
              != form.radio_button :avatar_type, :gravatar
              Gravatar
          %li
            != image_tag @rubyist.avatar_url(:default)
            %label
              != form.radio_button :avatar_type, :default
              Sticky Man

    != form.submit 'Save'

  %hr

  !=link_to t(:dashboard), dashboard_path
